<!doctype html>
<html lang="en" ng-app="helloWorldApp">
<head>
    <meta charset="utf-8">
    <title>Hello World - Active Stack</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link href="css/style.css" type="text/css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/q.js/0.9.2/q.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.9/socket.io.min.js"></script>
</head>
<body>

<div ng-controller="HelloWorldCtrl">
    <div ng-if="!authenticated">
        <button ng-click="anonLogin()">Anon Login</button>
        <button ng-click="cookieLogin()">Cookie Login</button>
        <button ng-click="googleLogin()">Google Login</button>

        <input ng-model="creds.username" placeholder="username" /><input ng-model="creds.password" type="password" placeholder="password" />
        <button ng-click="userPassLogin()">U/P Login</button>
    </div>
    <div ng-if="authenticated">
        <p>User: {{ person.firstName }} {{ person.lastName }} <button ng-click="logout()">Logout</button></p>
        <div class="clear">
            <h5>Blocks</h5>
            <button ng-click="addBlock()">Add Block</button>
            <div>
                <div ng-repeat="block in percero.domain.Block.prototype.all"
                     ng-style="{'background-color': block.color}"
                     ng-click="changeColor(block)"
                     class="block">
                    <a class="delete_button" ng-click="removeBlock(block)">x</a>
                </div>
            </div>
        </div>
        <div class="clear">
            <h5>User's Circles</h5>
            <button ng-click="addCircle()">Add Circle</button>
            <div>
                <div ng-repeat="circle in person.circles"
                     ng-style="{'background-color': circle.color}"
                     ng-click="changeColor(circle)"
                     class="circle">
                    <a class="delete_button" ng-click="removeBlock(circle)">x</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/config.js"></script>
<script src="js/model.js"></script>
<script src="js/controller.js"></script>

<script src="lib/activestack/Percero.js"></script>
<script src="lib/activestack/class.util.js"></script>
<script src="lib/activestack/util.js"></script>
<script src="lib/activestack/PerceroApi.js"></script>
<script src="lib/activestack/PerceroModel.js"></script>
<script src="lib/activestack/PerceroClient.js"></script>

<script src="js/model/Person.js"></script>
<script src="js/model/PersonRole.js"></script>
<script src="js/model/Email.js"></script>
<script src="js/model/Block.js"></script>
<script src="js/model/Circle.js"></script>

</body>
</html>
